:root{
    --cor-1: #222222;
    --cor-2: #BF1AD9;
    --cor-3: #4D29F0;
    --cor-4: #1A76D9;
    --cor-5: #1EF8D8;
}

body{
    background-color: var(--cor-1);
}

.nav-item a {
    position: relative;
}
.nav-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid var(--cor-2);
    transition: 0.2s;
}

.nav-item a:hover:after {
    width: 70%;
}
.nav-item a:hover{
    color: var(--cor-5);
}

header{
    background-image: url(pexels-william-choquette-gimp.jpg);
    background-size: cover;
    min-height: 450px;
    height: 50vh;
    background-position: top right;
    background-repeat: no-repeat;
    box-shadow: 0px -10px 7px 0px rgba(34, 34, 34, 0.582) inset;
}

.header-logo{
    width: 150px;
    height: 50px;
    background-image: url(https://www.smartfit.com.br/packs/media/logo-cb8dd34d.svg);
    background-repeat: no-repeat;
}

.tittle {
    background: linear-gradient(to right, #222, rgba(255, 255, 255, 0));
    color: var(--cor-4);
    width: 40%;
}

span{
    color: var(--cor-5);
}